.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide1 {
  background-image:url('./assets/img/slide1.png')
}

.slide2 {
  background-image:url('./assets/img/slide2.jpg')
}

.slide3 {
  background-image:url('./assets/img/slide3.jpg')
}

.slide4 {
  background-image:url('./assets/img/slide4.jpg')
}

.carousel-indicators {
  display: flex !important;
  align-self: flex-start;

  & li {
    align-items: flex-start;
    margin: 10px;
    background-color: #6A6A68;
    border-radius: 10rem;
    width: 3rem;
  }

  & .active {
    background-color: #ABA3A2;
  }

}

.about {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  
  height: 30rem;

  &-logo {
    height: 20rem;
  }
}

.divider1 {
  background: url('@../../assets/img/divider2.jpg') center center no-repeat;
  height: 70rem;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}

.teaser {
  background: url('@../../assets/img/banner_divider2.jpg') center center no-repeat;
  height: 20rem;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}

.teaser-video {
  height: 80rem;
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: url('@../../assets/img/blog-bk.jpg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  padding: 8rem;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.blog-post {
  width: 30rem;
  margin: 2rem;
  
  & img {
    
  }
}

.banner3 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: url('@../../assets/img/fashion-tv.jpg') no-repeat;
  height: 26rem;
  color: #fff;


}



.newsletter {
  background-color: #D1D1D1;
  height: 20rem;

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}